<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Menu</th>
                <th scope="col">Operations</th>
            </tr>
    
        </thead>
        <tbody>
            <tr *ngFor="let x of collection">
                <th>{{x.id}}</th>
                <th>{{x.name}}</th>
                <th>{{x.address}}</th>
                <select class="form-control" name="menu">
                   <option *ngFor="let x of collection" [value]="x.menu">
                     {{x.menu}}
                   </option>
                 </select>
                <th>
                 <th>
                    <button (click)="order()"type="submit" class="btn btn-primary">Order</button>
                 </th>
                 
            </tr>
        </tbody>
    </table>
    </div>